#
# These are files which git should ignore.
#

*~
*.la
*.lo
*.in
*.log
*.trs
*.eps
*.pdf
*.jpg
*.txt
*.info
*.fits
*-[0-9]
*.[1ao]
*.tar.gz
Makefile

m4
gnulib
snippet
astmkprof
astheader
astmknoise
astimgcrop
astimgwarp
astconvertt
astconvolve
astsubtractsky

.deps
.sync
ar-lib
missing
compile
depcomp
INSTALL
libtool
config.h
stamp-h1
ltmain.sh
.dirstamp
configure
.gnuastro
config.sub
runtest.sh
install-sh
aclocal.m4
test-driver
config.h.in
doc/mdate-sh
gnuastro.t2p
config.guess
config.status
doc/stamp-vti
autom4te.cache
doc/texinfo.tex
doc/version.texi
doc/www/gnuastro/CVS/
doc/www/gnuastro/manual/
doc/www/gnuastro/MathJax/
doc/subpackageversions.texi