# Files to ignore in version control (Git) -*- conf-unix -*-
# ==========================================================

# The files satisfying the patterns here (one per line) are ignored by
# the version control using Git, they are all outputs of the various
# tools used to built Gnuastro, so we don't need to keep their
# history.

# To help readability, please add new files based on the length of the line
# you wish to add.



# Glob patterns
# -------------

# The `*' can be replaced with any string. Any file that has a name
# satisfying any of these conditions will be ignored, irrespective of
# which directory it is in.

*~
.\#*
*.cp
*.fn
*.ky
*.la
*.lo
*.in
*.pg
*.gz
*.tp
*.vr
*.aux
*.dvi
*.eps
*.jpg
*.log
*.pdf
*.png
*.toc
*.trs
*.txt
*.fits
*.info
*-[0-9]
*.[1ao]
*.tar.gz





# Full file names to ignore
# -------------------------

# These are full file names. Note that the directory containing the
# file is irrelevant. Note that we cannot use a glob pattern for the
# utility names (since their configuration files would also be
# ignored).

.deps
.sync
build
ar-lib
missing
compile
depcomp
libtool
INSTALL
AUTHORS
snippet
astcrop
astwarp
astfits
.version
config.h
stamp-h1
Makefile
asttable
ltmain.sh
.dirstamp
configure
.gnuastro
astmkprof
astheader
runtest.sh
astmknoise
config.sub
install-sh
aclocal.m4
astconvertt
astconvolve
test-driver
config.h.in
lib/config.h
astcosmiccal
astmkcatalog
gnuastro.t2p
config.guess
version.texi
authors.texi
doc/fdl.texi
astbuildprog
config.status
doc/stamp-vti
astarithmetic
aststatistics
astnoisechisel
astsubtractsky
autom4te.cache
lib/gnuastro.pc
doc/gnuastro.cps
doc/gnuastro.vrs
lib/gnuastro/config.h





# Directories
# -----------

# A name finishes with a slash (`/'), is treated as a directory and
# all files within that directory will be ignored. Therefore there is
# no need to say `foo/*'. Simply `foo/' is enough.

# When Git finds a slash in the end of an entry, it will immediately
# ignore the whole directory (and everything within it). This is more
# efficient then leaving it to try to fit patterns.

.libs/
/gnulib/
/bootstrapped/
/doc/plotsrc/tikz/
/doc/gnuastro.t2d/
/doc/gnuastro.html/


# NOTE: If ./bootstrap doesn't find the exact string value of its
# build_aux variable (that we defined in bootstrap.conf) here, it will
# add it to the top of this file (which we don't want). Unfortunately,
# the value of build_aux must not end with a slash (otherwise `make
# distcheck' will not be able to do its final tests). So only for this
# directory, we have abandoned the convention above.

/bootstrapped/build-aux
