# Map different emails to people in Git.
#
# Copyright (C) 2015-2019 Free Software Foundation, Inc.
#
# Copying and distribution of this file, with or without modification,
# are permitted in any medium without royalty provided the copyright
# notice and this notice are preserved.  This file is offered as-is,
# without any warranty.

Boud Roukema <boud@cosmo.torun.pl>
Mohammad Akhlaghi <mohammad@akhlaghi.org>
<mohammad@akhlaghi.org> <akhlaghi@gnu.org>
Lucas MacQuarrie <macquarrielucas@gmail.com>
<mohammad@akhlaghi.org> <makhlaghi@gmail.com>